{% if user.is_anonymous == False %}
	<h1>Welcome {{user.first_name}} {{user.last_name}}!</h1>
	{%if is_event_creation_successful%}
	<p>Event created successfully!</p>
	{%endif%}
	<a href="tasks">
		<button>	
			Add task
		</button>
	</a>
	<a href="events">
		<button>	
			Add event
		</button>
	</a>
	
	<h2>Tasks</h2>
	{%if todoitem_list %}
		<ul>
		{% for todoitem in todoitem_list %}
			<li>
				<a href="tasks/{{todoitem.id}}">{{todoitem.task_name}}</a>
			</li>
		{% endfor %}
		</ul>
	{%else%}
		<p>No tasks have been created.</p>
	{%endif%}

	<h2>Events</h2>
	{%if eventitem_list%}
		<ul>
		{% for eventitem in eventitem_list %}
			<li>
				<a href="events/{{eventitem.id}}">{{eventitem.event_name}}</a>
			</li>
		{% endfor %}
		</ul>
	{%else%}
		<p>No events have been created.</p>
	{%endif%}

	<a>Click <a href="logout">here</a> to logout.</a>
	<br><br><a>Click <a href="edit">here</a> to edit your information.</a>
{% else %}
	<h1>You are not authorized to access this page.</h1>
	<p>Kindly login to John Doe <a href="login">here</a></p>
	<p>Kindly login to new user <a href="login_new">here</a></p>
{% endif %}

